.video-thumbnail {
    position: relative;
}

.video-thumbnail a {
    display: block;
    position: relative;
}

.thumbnail-arrow {
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 55px;
    height: 55px;

    background: rgba(0, 0, 0, 0.75);
    color: white;

    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 24px;

    transition: all 0.3s ease;
}

.video-thumbnail a:hover .thumbnail-arrow {
    background: black;
    transform: translate(-50%, -50%) scale(1.1);
}



.page-title{
    color: #ffffff;   
}

.page-subtitle{
    color: #ffffff;
}

.card{
    border-radius:20px;
    margin-bottom: 40px;
    background-color: #fafafac4;
}

.card img{
    height:320px;
    object-fit:cover;
}

h1,h2{
    font-weight:bold;
    color: #000;
}

h5{
  font-weight:bold;
}

h3{
    margin-bottom:15px;
    color: rgb(23, 23, 23);
}

p{
    color: #0d0d0d;
}

.badge{
    font-size:15px;
    margin-right:8px;
}

#bts{
    margin-top:20px;
}

